/* デフォルトのスタイルをリセットし、基本的な設定のみ行う */
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* ページのコンテナと同じ背景色を指定 */
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}